outputs: "./outputs"
dev: false

http:
  host: '0.0.0.0'
  port: {{ http_port }}


{%- if use_dask %}
cluster:
  scheduler_port: {{ dask_scheduler_port }}
  dashboard_address: ':{{ dask_dashboard_port }}'
  n_workers: {{ n_workers }}  # 启动的进程数
  threads_per_worker: {{ threads_per_worker }}  # 每个进程的线程数
{%- endif %}

log:
  path: './logs'
  # 日志模块会为 filename 添加相应的后缀
  filename: '{{ project_name|replace(' ', '_') }}'
  level: '{{ log_level|lower }}'
  rotation: '{{ log_rotation }}'
  retention: '{{ log_retention }}'
  format: '<level>{level: <8}</level> <green>{time:YYYY-MM-DD HH:mm:ss.SSS}</green> - <blue>[{process.id}]</blue> - <cyan>{name}</cyan>:<cyan>{function}</cyan> - <level>{message}</level>'
